@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 20 30% 97%;
    --foreground: 350 20% 20%;
    --card: 0 0% 100%;
    --card-foreground: 350 20% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 350 20% 20%;
    --primary: 1 38% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 4 42% 91%;
    --secondary-foreground: 350 20% 20%;
    --muted: 20 20% 94%;
    --muted-foreground: 350 10% 45%;
    --accent: 2 37% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 15% 90%;
    --input: 20 15% 90%;
    --ring: 1 38% 43%;
    --chart-1: 1 38% 43%;
    --chart-2: 2 37% 51%;
    --chart-3: 4 33% 72%;
    --chart-4: 4 42% 91%;
    --chart-5: 358 26% 47%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
